/*adding in a dyslexia friendly font*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

* {
    box-sizing: border-box;
}


/* Style of the body */
body {
    font-family: "Lexend", sans-serif;
    margin: 0;
    color: black;
    max-width: 100vw;
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
body > * {
    width: 100%;
}

/*style of the header*/
.header {
    text-align: center;
    align-items: center;
    color: white;
    height: fit-content;
}

/* Font size of the heading */
.header h1 {
    font-size: 40px;
    color: black;
    text-align: center;
}

.header h4 {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/* Style of the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #bb4646;
    text-align: center;
}

/* Style of the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}

/* Change the colour on hover */
.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Style of the paragraphs*/
.p{
    align-items: center;
}

/*Style of the logo*/
.logo_icon {
  background-color:none;
  width: 100px;
  height: 100px;
  position: absolute;
  /*element as absolute so it can freely move across the screen*/
  animation: moveLeft 3s linear infinite;
}
  
@keyframes moveLeft {
  0% {
    /*the right property will position the element considering the right edge*/
    right: 0;
  }
  100% {
    /*the following function is used to push the element back to the start*/
    right: 100%;
  }
}

/*Style of the form */
.form
{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 12px;
}

/*Style of the footer*/
footer{
    width: 100%;
    background-color: #d3d3d3;
    color: black;
    display: flex;
    align-items:  center;
    flex-direction: column;
    text-decoration: none;
}
footer .footer-socials{
    display: flex;
    gap: 20px;
}
footer a{
    color: transparent;
}


ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    gap: 10px;
    padding: 0;
    margin: 0;
}
li{
    display: flex;
    justify-content: space-between;
    gap: 5px;
    padding: 0;
    margin: 0;
}
.form button{
    margin-top: 10px;
}
.textArea{
    margin-top: 5px;
    flex-direction: column;
}

#warning{
    display: none;
    color: rgb(196, 61, 61);
}
.warningBox{
    border: 2px solid rgb(196, 61, 61);
    outline: 2px solid rgb(196, 61, 61);
}

  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
}
