@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0px;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    background: floralwhite;
    overflow-x: hidden;
    max-width: 100vw;
    
    display:flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
body > * {
    width: 100%;
}

.header {
    text-align: center;
    align-items: center;
    color: white;
    height: fit-content;
}

/* Font size of the heading */
.header h1 {
    font-size: 40px;
    color: black;
    text-align: center;
}

.header h4 {
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
/* Style of the top navigation bar */
.navbar {
    overflow: hidden;
    background-color: #bb4646;
    text-align: center;
}

/* Style of the navigation bar links */
.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* Right-aligned link */
.navbar a.right {
    float: right;
}
.navbar a:hover {
    background-color: #ddd;
    color: black;
}
.logo_icon {
  background-color:none;
  width: 100px;
  height: 100px;
  position: absolute;
  /*element as absolute so it can freely move across the screen*/
  animation: moveRight 3s linear infinite;
}
  
@keyframes moveRight {
  0% {
    /*the right property will position the element considering the right edge*/
    right: 0;
  }
  100% {
    /*the following function is used to push the element back to the start*/
    right: 100%;
  }
}

/* --------------- */

.main-page{
    width: 100vw;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column ;
    gap: 50px
}

.weekly-container {
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    position: relative;
    margin-top: 30px;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.455);
}

.weekly-container .car-image, .main-intro img{
    width: 40rem;
}
.weekly-container .text, .main-intro .text{
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.weekly-container h3{
    font-size: 2rem;
}
.weekly-container .frame{
    position: absolute;
    width: calc(100% + 20px);
    height: calc(100% + 20px);
    top: 0;
    left: 0;
    transition: 0.2s;
    pointer-events: none;
}
.weekly-container p{
    text-align: center;
}
.weekly-container:hover > .frame {
    opacity: 0.2;
}
/*--------------*/




/*---------*/

@media (max-width: 700px) {
.main-intro {
    flex-direction: column;
}  
.main-intro img {
  max-width: 100%;
  width: 20rem;
}
}
@media (max-width: 600px) {
    nav{
        justify-content: center;
    }
    nav a{
        border-right: 1px solid black;
    }
    .weekly-container {
        flex-direction: column;
        max-width: 80%;
    }
    .main-intro{
        flex-direction: column;
    }
    
}


h1 {
  text-align: center;
  font-size: 2.5rem;
  margin: 40px 0 20px;
  font-weight: 700;
}
.main-intro{
    margin: 0;
    padding: 0;
    width: 95%;
    padding: 50px;
    background-color: #f1f1f1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.main-intro .text {
    width: fit-content;
}
.main-intro .text h3{
    font-size: 2rem;
}
.main-intro .text p {
    max-width: 400px;
}
footer{
    width: 100%;
    background-color: #d3d3d3;
    color: black;
    display: flex;
    align-items:  center;
    flex-direction: column;
    text-decoration: none;
    
}
footer .footer-socials{
    display: flex;
    gap: 20px;
}
footer a{
    color: transparent;
}

@media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
}